<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
    {{title}}
</header>
<nav id="navbar">
    <ul>
    <li><a class="active" routerLink="/Home">Home</a></li>
      <li><a class="active">TouristInfo</a></li>
      <li><a class="active">Contact</a></li>
      <li><a class="active">About</a></li>
    <li class="right"><a routerLink="/SignIn">LogOut</a></li>
    </ul>
</nav>
